<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/_layout">
<head>
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>My Fitness Program - 신고글 관리</title>
  <!-- 작성하는 페이지가 CSS가 별도로 필요하면 추가한다. -->
  <link href="../assets/css/style_board.css" rel="stylesheet">
</head>
<body>
	<div layout:fragment="content">

		<!-- ======= Breadcrumbs ======= -->
		<section class="breadcrumbs">
			<div class="container">
				<div class="d-flex justify-content-between align-items-center">
					<h2>신고글 목록</h2>
					<ol>
						<li><a href="/admin/reportBoardList">신고글 목록</a></li>
						<li>게시판 관리</li>
					</ol>
				</div>
			</div>
		</section>
		<!-- End Breadcrumbs -->

		<section class="myContent">
			<div class="container">
				<div class="board_wrap">
					<div class="board_title">
						<strong>게시글 신고 상세</strong>
					</div>
					<div class="board_view_wrap">
						<div class="board_view">
							<form th:action="@{/getBoard}" method="get">
								<input type="hidden" th:value="${report.rseq}" name="rseq" id="rseq">
								<input type="hidden" th:value="${report.board.bseq}" name="bseq" id="bseq">
								<div class="title" th:text="${report.rTitle}"></div>
								<div class="cont" th:text="${report.rContent}"></div>
								<div class="rIndate" th:text="${#dates.format(report.rIndate, 'yyyy-MM-dd hh:mm')}"></div>
								<div class="bt_wrap">
									<a href="/admin/reportBoardList" class="btItem">목록</a>
									<input type="submit" value="해당 게시글로 이동" class="btItem" style="width: 150px;">
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</body>
</html>