<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/_layout">
<head>
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>My Fitness Program - 수업 일지</title>
<link rel="stylesheet" href="assets/css/style_board.css">
</head>
<body>

	<div layout:fragment="content">

		<!-- ======= Breadcrumbs ======= -->
		<section class="breadcrumbs">
			<div class="container">
				<div class="d-flex justify-content-between align-items-center">
					<h2>수업 일지</h2>
					<ol>
						<li><a href="class/classDiary">수업 일지</a></li>
						<li>수업 일지 작성</li>
					</ol>
				</div>
			</div>
		</section>
		<!-- End Breadcrumbs -->
		
		<section class="myContent">
			<div class="container">
				<div class="board_wrap">
					<form th:action="@{/insertClassDiary}" method="post">
						<input type="hidden" name="cdseq" th:value="${cDiary.cdseq}">
						<input type="hidden" name="rseq" th:value="${cDiary.reservation.rseq}">
						<div class="board_view_wrap">
							<div class="board_view">
								<div class="title">
									<dl>
										<dd>
											<input style="border:none;" type="text" th:value="${cDiary.reservation.classDate}+' '+${cDiary.reservation.classTime}+':00 ~ '+${cDiary.reservation.classTime}+':50'" readonly>
										</dd>
										<dd>
											<input style="border:none;" type="text" name="member" th:value="${cDiary.member.username}" readonly>
										</dd>
									</dl>
								</div>
								<div class="cont">
									<dl>
										<dd>
											<textarea cols="135" rows="5" name="content" th:text="${cDiary?.content}" style="padding: 10px;"></textarea>
										</dd>
									</dl>
								</div>
							</div>

							<div class="bt_wrap">
								<input type="submit" class="btItem" th:value="등록">
							</div>
						</div>
					</form>
				</div>
			</div>
		</section>
	</div>
</body>
</html>