<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/_layout">
<head>
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>My Fitness Program - 수업 일지</title>
<link rel="stylesheet" href="assets/css/style_board.css">
</head>
<body>

	<div layout:fragment="content">

		<!-- ======= Breadcrumbs ======= -->
		<section class="breadcrumbs">
			<div class="container">
				<div class="d-flex justify-content-between align-items-center">
					<h2>수업 일지</h2>
					<ol>
						<li><a href="class/classDiary">수업 일지</a></li>
						<li>수업 일지 작성</li>
					</ol>
				</div>
			</div>
		</section>
		<!-- End Breadcrumbs -->

		<section class="myContent">
			<div class="container" >

				<!-- 내용 작성. -->
				<div class="board_wrap">
					
					<div class="board_view_wrap">
						<div class="board_view">
							<form th:action="@{/insertClassDiary}" method="post">
						
							<div class="title">
								<dl>
									<dt>제목</dt>
									<dd><input type="text" style="width:200px" name="cdtitle"></dd>
								</dl>
							</div>
							<div class="info">
								<dl>
									<dt>글쓴이</dt>
									<dd><input name="member" id="member" type="text" th:value="${#authentication.name}" readonly></dd>
								</dl>
								<dl>
									<dt>수업 시간</dt>
									<dd>2022년 07월 12일 14:00~ 14:50</dd>
								</dl>
							</div>
							<div class="cont">
								<dl>
									<dt>내용</dt>
									<dd><input type="textarea" style="width:900px" name="content"></dd>
								</dl>
							</div>
						</div>
						
						<div class="bt_wrap"> 
							<button type="submit" class="btItem">등록</button>
							<button type="reset" class="btItem" >취소</button>
						</div>
					</div>
				</div>
			</div>
			</form>
		</section>
	</div>

</body>
</html>