<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/_layout">
<head>
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>게시글 수정</title>
  <!-- 작성하는 페이지가 CSS가 별도로 필요하면 추가한다. -->
  <link href="assets/css/style_board.css" rel="stylesheet">
   <script>
 function alertNull() {
	 var form = document.getElementById("updateBoard");
	 
	 var title = document.getElementById("title");
	 if (title.value == "") {
		 alert("제목을 입력해주세요");
		 title.focus();
		 
		 return false;
	 }
	 var boardPwd = document.getElementById("boardPwd");
	 if (boardPwd.value == "") {
		 alert("글 비밀번호를 입력해주세요");
		 boardPwd.focus();
		 
		 return false;
	 }
	 var content = document.getElementById("content");
	 if (content.value == "") {
		 alert("내용을 입력해주세요");
		 content.focus();
		 
		 return false;
	 }
	 
	 form.action = "/updateBoard";
	 form.submit();
 }
 
 </script>
</head>
<body>
	<div layout:fragment="content">

		<!-- Breadcrumbs -->
		<section class="breadcrumbs">
			<div class="container">
				<div class="d-flex justify-content-between align-items-center">
					<h2>게시글 수정</h2>
					<ol>
						<li><a href="#">게시글 수정</a></li>
						<li>게시판</li>
					</ol>
				</div>
			</div>
		</section>
		<!-- End Breadcrumbs -->

		<section class="myContent">
			<div class="container">
				<div class="board_wrap">
					<div class="board_title">
						<strong>글 수정</strong>
					</div>

					<div class="board_write_wrap">
						<div class="board_write">
							<form th:action="@{/updateBoard}" method="post" enctype="multipart/form-data" id="updateBoard">
								<input name="bseq" type="hidden" th:value="${board.bseq}">

								<div class="title">
									<dl>
										<dt>제목</dt>
										<dd>
											<input name="title" type="text" th:value="${board.title}">
										</dd>
									</dl>
								</div>

								<div class="info">
									<dl>
										<dt>글쓴이</dt>
										<dd>
											<input name="writer" type="text" th:value="${board.writer}"
												readonly>
										</dd>
									</dl>

									<dl>
										<dt>비밀번호</dt>
										<dd>
											<input name="password" type="password" placeholder="비밀번호 입력">
										</dd>
									</dl>

									<dl>
										<dt>아이디</dt>
										<dd>
											<input name="member" id="member" type="text" th:value="${#authentication.name}" readonly>
										</dd>
									</dl>

									<dl>
										<dt>카테고리</dt>
										<dd>
											<select name="category">
												<option th:each="category : ${categoryList}" th:value="${category.cid}" th:text="${category.name}"></option>
											</select>
										</dd>
									</dl>

								</div>
								<div class="cont">
									<textarea name="content" th:text="${board.content}"></textarea>
								</div>
								<div class="upload">
									<a th:href="@{${board.filepath}}" th:text="${board.filename}"></a>
								</div>
								<input type="file" name="file" class="upload" multiple/>
								<div class="bt_wrap">
									<input type="submit" class="btItem" value="수정"> 
									<a href="#" onclick="location.href = document.referrer;" class="btItem">취소</a>
								</div>
							</form>
						</div>

					</div>
				</div>
			</div>
		</section>
	</div>
</body>
</html>