<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/_layout">
<head>
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>My Fitness Program - 지난 수업 목록</title>
<link rel="stylesheet" href="assets/css/style_board_afterclass.css">
</head>
<body>

	<div layout:fragment="content">

		<!-- ======= Breadcrumbs ======= -->
		<section class="breadcrumbs">
			<div class="container">
				<div class="d-flex justify-content-between align-items-center">
					<h2>지난 수업 목록</h2>
					<ol>
						<li><a href="class/afterClassList">지난 수업 목록</a></li>
						<li>트레이너 기능</li>
					</ol>
				</div>
			</div>
		</section>
		<!-- End Breadcrumbs -->

		<section class="myContent">
			<div class="container">

				<div class="board_wrap">
					<div class="board_title">
						<strong>지난 수업 목록</strong>
					</div>
					<div class="search_1">
						<form id="search-form">
							<select name="search_select">
								<option value="title">제목</option>
								<option value="content">내용</option>
							</select> <input type="text" id="search">
							<button id="searchBtn">search</button>
						</form>
					</div>
					<div class="board_list_wrap">
						<div class="board_list">
							<div class="top">
								<div class="num">번호</div>
								<div class="class_time">수업시간</div>
								<div class="student">회원명</div>

							</div>
							<div>
								<div class="num">5</div>
								<div class="class_time">
									<a href="view.html">2022.07.12 14:00 ~ 14:50</a>
								</div>
								<div class="student">회원명</div>
							</div>
							<div>
								<div class="num">5</div>
								<div class="class_time">
									<a href="view.html">2022.07.12 14:00 ~ 14:50</a>
								</div>
								<div class="student">회원명</div>
							</div>
							<div>
								<div class="num">5</div>
								<div class="class_time">
									<a href="view.html">2022.07.12 14:00 ~ 14:50</a>
								</div>
								<div class="student">회원명</div>
							</div>
							<div>
								<div class="num">5</div>
								<div class="class_time">
									<a href="view.html">2022.07.12 14:00 ~ 14:50</a>
								</div>
								<div class="student">회원명</div>
							</div>
							<div>
								<div class="num">5</div>
								<div class="class_time">
									<a href="view.html">2022.07.12 14:00 ~ 14:50</a>
								</div>
								<div class="student">회원명</div>
							</div>
						</div>
						<div class="board_page">
							<a href="#" class="bt first"><<</a> <a href="#" class="bt prev"><</a>
							<a href="#" class="num on">1</a> <a href="#" class="num">2</a> <a
								href="#" class="num">3</a> <a href="#" class="num">4</a> <a
								href="#" class="num">5</a> <a href="#" class="bt next">></a> <a
								href="#" class="bt last">>></a>
						</div>
					</div>
				</div>

			</div>
		</section>
	</div>



</body>
</html>
