<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
		layout:decorate="~{layout/_layout}">
<head>
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>403-ERROR</title>
<!-- 작성하는 페이지가 CSS가 별도로 필요하면 추가한다. -->
<style>
#footer {
	height: 210px;
	position: absolute;
	width: 100%;
	bottom: 0px;
	left: 0;
}
</style>
<link href="assets/css/style_board.css" rel="stylesheet">
</head>
<body th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">

	<div layout:fragment="content">

		<!-- ======= Breadcrumbs ======= -->
		<section class="breadcrumbs">
			<div class="container">
				<div class="d-flex justify-content-between align-items-center">
					<h2>접근 권한이 없습니다.</h2>
					<ol>
						<li><a href="/">홈</a></li>
						<li></li>
					</ol>
				</div>
			</div>
		</section>
		<!-- End Breadcrumbs -->

		<section class="myContent">
			<div class="container">
				<!-- 내용 작성. -->
				<div align="center">
				<h1 th:text="|${httpStatus} - ${httpStatus.reasonPhrase}|">404</h1>
				<h1 th:utext="${errorMessage}">Error java.lang.NullPointerException</h1><br><hr>
				<h2><a th:href="@{/}">메인으로</a></h2>
				</div>
			</div>
		</section>
	</div>
</body>
</html>