<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/_layout">
<head>
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>My Fitness Program - </title>
  <!-- 작성하는 페이지가 CSS가 별도로 필요하면 추가한다. -->
  <link href="assets/css/style_board.css" rel="stylesheet">
</head>
<body>

	<div layout:fragment="content">

		<!-- ======= Breadcrumbs ======= -->
		<section class="breadcrumbs">
			<div class="container">
				<div class="d-flex justify-content-between align-items-center">
					<h2>페이지명(ex.자유게시판)</h2>
					<ol>
						<li><a href="#">페이지명(ex.자유게시판)</a></li>
						<li>큰 페이지(ex.게시판)</li>
					</ol>
				</div>
			</div>
		</section>
		<!-- End Breadcrumbs -->

		<section class="myContent">
			<div class="container">

				<!-- 내용 작성. -->

			</div>
		</section>
	</div>


</body>
</html>