<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>My Fitness Program - 아이디 찾기</title>


<style>
h, td, tr, input, textarea, select, FORM {
	font-family: 고딕;
	font-size: 1em;
	border-radius: 5px;
}

table, FORM {
	border: 1px solid rgba(0, 0, 0, 0);
	border-spacing: 30px;
}

login {
	padding: 20%;
	margin: 20%;
}
</style>

<script>
        function popup(){
            var url = "findId_get.html";
            var name = "findId_get";
            var option = "width = 500, height = 500, top = 100, left = 200, location = no"
            window.open(url, name, option);
        }
         function popup2(){
            var url = "findId_notFound.html";
            var name = "findId_notFound";
            var option = "width = 500, height = 500, top = 100, left = 200, location = no"
            window.open(url, name, option);
        }
</script>

</head>
<body style="background-color: white">


	<center>

		<table style="border: 1px solid black">
			<h1>아이디 찾기 결과</h1>


			<tr>
				<td>가입한 아이디</td>
				<td><input type="text" /></td>
				<td><input type="button" value="확인" onclick=""></td>
			</tr>


		</table>
		<div class="bt_wrap">
			<input id="login" type="submit" value="로그인" /> 
			<input id="login"type="button" value="비밀 번호 찾기" onclick="" />
		</div>

	</center>

	</div>
	</section>
	</div>



</body>
</html>