<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>My Fitness Program - 비밀번호 찾기</title>


<style>
h, td, tr, input, textarea, select, FORM {
	font-family: 고딕;
	font-size: 1em;
	border-radius: 5px;
}

table, FORM {
	border: 1px solid rgba(0, 0, 0, 0);
	border-spacing: 15px;
}
</style>


</head>
<body style="background-color: white">

	<center>
		<h1>비밀번호 재설정</h1>
		<p>새로운 비밀번호를 입력해주세요</p>
		<table boder="" cellspacing="1">
			<FORM>


				<tr>
					<td>아이디</td>
					<td><input type="text" /></td>
				</tr>


				<tr>
					<td>비밀번호</td>
					<td><input type="text" /></td>
				</tr>


				<tr>
					<td>비밀번호 확인</td>
					<td><input type="text" /></td>
				</tr>
		</table>
		<div class="bt_wrap">
			<input type="submit" value="확인" />
			<input type="reset" value="다시 입력" />
		</div>

	</center>

	</div>
	</section>
	</div>



</body>
</html>